[Unit]
Description=Reading sensors data with python
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/bash /root/hassio-growbox/sensors/threadsManager.sh
WorkingDirectory=/root/hassio-growbox/sensors
#Environment=PYTHONPATH=/root/hassio-growbox/env/lib/python3.9/site-packages
Restart=on-failure
EnvironmentFile=/etc/environment
#StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target
